{% extends 'bas.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h3>Password Rrset</h3>
    <p>Forgotten your password enter your email address bolow,
        and we'11 email instruuctions for setting anew one...</p>
        <form method="post">
            {% csrf_token %}
            email<input type="text"name='email'>
            <input type="submit"value='send'>
        </form>
{% endblock %}
</body>
</html>