{% extend 'home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1>index page</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates vel, iusto error harum dolorem amet placeat quisquam, animi quis ipsa, at voluptatem. Culpa rem quo soluta mollitia cumque molestiae distinctio?
    </p>
    {% endblock %}
</body>
</html>