{% extend 'home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1>List page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis libero magni corrupti veritatis aspernatur quo atque eaque molestias ut quae, distinctio nisi architecto? Omnis cupiditate obcaecati earum incidunt odit? Vel!
    </p>
    {% endbl0ck %}
</body>
</html>